---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/groups?ids=647D3B02-2302-41F0-88A3-6D88BB6F55CF,A4ED8379-5B6B-4ECC-B6E1-70C350C902D2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '10'
      X-Result-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": "647D3B02-2302-41F0-88A3-6D88BB6F55CF",
            "name": "Festivals",
            "description": "Achievements related to the current Living World update.",
            "order": 4,
            "categories": [
              151
            ]
          },
          {
            "id": "A4ED8379-5B6B-4ECC-B6E1-70C350C902D2",
            "name": "Story Journal",
            "description": "Achievements related to the story journal.",
            "order": 2,
            "categories": [
              139,
              121,
              122,
              123,
              104,
              68,
              100,
              81,
              83,
              82,
              71,
              72,
              70,
              144,
              147
            ]
          }
        ]
  recorded_at: Wed, 25 Jan 2017 01:20:59 GMT
recorded_with: VCR 3.0.3
