---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements?ids=1,2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '2746'
      X-Result-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1,
            "name": "Centaur Slayer",
            "description": "A few more centaur herds are thinned out.",
            "requirement": "Kill  centaurs.",
            "locked_text": "",
            "type": "Default",
            "flags": [],
            "tiers": [
              {
                "count": 10,
                "points": 1
              },
              {
                "count": 100,
                "points": 5
              },
              {
                "count": 500,
                "points": 5
              },
              {
                "count": 1000,
                "points": 5
              }
            ]
          },
          {
            "id": 2,
            "name": "Teamwork Gets It Done",
            "description": "Kills that involved at least one profession combo with another player.",
            "requirement": "Kill  enemies using profession combinations with another player.",
            "locked_text": "",
            "type": "Default",
            "flags": [],
            "tiers": [
              {
                "count": 1,
                "points": 1
              },
              {
                "count": 100,
                "points": 4
              },
              {
                "count": 300,
                "points": 5
              },
              {
                "count": 500,
                "points": 10
              },
              {
                "count": 1000,
                "points": 10
              }
            ]
          }
        ]
  recorded_at: Wed, 04 Jan 2017 22:12:13 GMT
recorded_with: VCR 3.0.3
