---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '2746'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": 1,
          "name": "Centaur Slayer",
          "description": "A few more centaur herds are thinned out.",
          "requirement": "Kill  centaurs.",
          "locked_text": "",
          "type": "Default",
          "flags": [],
          "tiers": [
            {
              "count": 10,
              "points": 1
            },
            {
              "count": 100,
              "points": 5
            },
            {
              "count": 500,
              "points": 5
            },
            {
              "count": 1000,
              "points": 5
            }
          ]
        }
  recorded_at: Wed, 04 Jan 2017 22:12:13 GMT
recorded_with: VCR 3.0.3
