---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/professions?ids=Thief,Mesmer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '9'
      X-Result-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": "Thief",
            "name": "Thief",
            "icon": "https://render.guildwars2.com/file/F9EC00E23F630D6DB20CDA985592EC010E2A5705/156641.png",
            "icon_big": "https://render.guildwars2.com/file/13A2C0EF23F23FF2084875629465279DDA807E3D/103581.png",
            "specializations": [
              28,
              35,
              20,
              54,
              44,
              7
            ],
            "weapons": {
              "Dagger": {
                "skills": [
                  {
                    "id": 13004,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13097,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13006,
                    "slot": "Weapon_3",
                    "offhand": "Dagger"
                  },
                  {
                    "id": 13040,
                    "slot": "Weapon_3",
                    "offhand": "Pistol"
                  },
                  {
                    "id": 13110,
                    "slot": "Weapon_3",
                    "offhand": "Nothing"
                  },
                  {
                    "id": 13019,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 13013,
                    "slot": "Weapon_5"
                  },
                  {
                    "id": 16432,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Spear": {
                "skills": [
                  {
                    "id": 13119,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13069,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13122,
                    "slot": "Weapon_3"
                  },
                  {
                    "id": 13070,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 13068,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Pistol": {
                "skills": [
                  {
                    "id": 13084,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13008,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13011,
                    "slot": "Weapon_3",
                    "offhand": "Pistol"
                  },
                  {
                    "id": 13010,
                    "slot": "Weapon_3",
                    "offhand": "Dagger"
                  },
                  {
                    "id": 13111,
                    "slot": "Weapon_3",
                    "offhand": "Nothing"
                  },
                  {
                    "id": 13012,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 13113,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Shortbow": {
                "skills": [
                  {
                    "id": 13022,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13041,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13083,
                    "slot": "Weapon_3"
                  },
                  {
                    "id": 13024,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 13025,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Speargun": {
                "skills": [
                  {
                    "id": 13072,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13073,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13074,
                    "slot": "Weapon_3"
                  },
                  {
                    "id": 13075,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 13076,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Staff": {
                "specialization": 7,
                "skills": [
                  {
                    "id": 30614,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 29911,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 30520,
                    "slot": "Weapon_3"
                  },
                  {
                    "id": 30775,
                    "slot": "Weapon_4"
                  },
                  {
                    "id": 30597,
                    "slot": "Weapon_5"
                  }
                ]
              },
              "Sword": {
                "skills": [
                  {
                    "id": 13009,
                    "slot": "Weapon_1"
                  },
                  {
                    "id": 13015,
                    "slot": "Weapon_2"
                  },
                  {
                    "id": 13016,
                    "slot": "Weapon_3",
                    "offhand": "Dagger"
                  },
                  {
                    "id": 13031,
                    "slot": "Weapon_3",
                    "offhand": "Pistol"
                  },
                  {
                    "id": 13112,
                    "slot": "Weapon_3",
                    "offhand": "Nothing"
                  }
                ]
              }
            },
            "training": [
              {
                "id": 52,
                "category": "Skills",
                "name": "Signet Training",
                "track": [
                  {
                    "cost": 2,
                    "type": "Skill",
                    "skill_id": 13064
                  },
                  {
                    "cost": 5,
                    "type": "Skill",
                    "skill_id": 13046
                  },
                  {
                    "cost": 9,
                    "type": "Skill",
                    "skill_id": 13060
                  },
                  {
                    "cost": 13,
                    "type": "Skill",
                    "skill_id": 13062
                  }
                ]
             [...]
