---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pve": [
            {
              "id": 1972,
              "level": {
                "min": 1,
                "max": 79
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1979,
              "level": {
                "min": 80,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1938,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1953,
              "level": {
                "min": 11,
                "max": 39
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1958,
              "level": {
                "min": 40,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1914,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "pvp": [
            {
              "id": 1861,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1857,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2093,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2099,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "wvw": [
            {
              "id": 1847,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1852,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1850,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1851,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "special": [
            {
              "id": 1265,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2789,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
    [...]
