---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/daily
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pve": [
            {
              "id": 1985,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1931,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1963,
              "level": {
                "min": 11,
                "max": 44
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1948,
              "level": {
                "min": 45,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1895,
              "level": {
                "min": 31,
                "max": 50
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1900,
              "level": {
                "min": 51,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "pvp": [
            {
              "id": 1857,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2817,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2096,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2103,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "wvw": [
            {
              "id": 1849,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1846,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1851,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1845,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "special": [
            {
              "id": 2079,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2081,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2080,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2082,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ]
        }
  recorded_at: Wed, 25 Jan 2017 01:20:59 GMT
recorded_with: VCR 3.0.3
