---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/categories/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '114'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": 1,
          "name": "Slayer",
          "description": "",
          "order": 10,
          "icon": "https://render.guildwars2.com/file/E00460A2CAD85D47406EAB4213D1010B3E80C9B0/42675.png",
          "achievements": [
            1,
            5,
            4,
            6,
            7,
            8,
            16,
            23,
            24,
            25,
            26,
            27,
            28,
            29,
            31,
            33,
            32,
            34,
            35,
            30,
            36,
            37,
            38,
            39,
            40,
            41,
            42,
            43,
            44,
            45,
            46,
            47,
            48,
            3,
            49,
            50,
            51,
            52,
            53
          ]
        }
  recorded_at: Wed, 25 Jan 2017 01:20:58 GMT
recorded_with: VCR 3.0.3
