---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/legends?ids=Legend2,Legend4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '5'
      X-Result-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": "Legend2",
            "swap": 27659,
            "heal": 26937,
            "elite": 28406,
            "utilities": [
              29209,
              28231,
              27107
            ]
          },
          {
            "id": "Legend4",
            "swap": 28376,
            "heal": 28219,
            "elite": 28287,
            "utilities": [
              27322,
              27505,
              27917
            ]
          }
        ]
  recorded_at: Thu, 26 Jan 2017 03:51:35 GMT
recorded_with: VCR 3.0.3
