---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/specializations?ids=1,2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '54'
      X-Result-Count:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1,
            "name": "Dueling",
            "profession": "Mesmer",
            "elite": false,
            "minor_traits": [
              706,
              710,
              707
            ],
            "major_traits": [
              701,
              705,
              700,
              1889,
              1960,
              708,
              692,
              1950,
              704
            ],
            "icon": "https://render.guildwars2.com/file/43C5400906A104C60F30DFE0A145D1E767353573/1012003.png",
            "background": "https://render.guildwars2.com/file/992D53319C5FCD4AE841C592DC2AE91D5906AECF/1012057.png"
          },
          {
            "id": 2,
            "name": "Death Magic",
            "profession": "Necromancer",
            "elite": false,
            "minor_traits": [
              856,
              839,
              1929
            ],
            "major_traits": [
              820,
              857,
              1922,
              858,
              860,
              855,
              842,
              1940,
              1694
            ],
            "icon": "https://render.guildwars2.com/file/16663C1CDF532AB0DCC0CB08951DD2F49351D5D4/1012008.png",
            "background": "https://render.guildwars2.com/file/B3F92D581B0A036CABB51590E6E560B21708391F/1012067.png"
          }
        ]
  recorded_at: Wed, 25 Jan 2017 01:21:17 GMT
recorded_with: VCR 3.0.3
