---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/daily/tomorrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pve": [
            {
              "id": 1969,
              "level": {
                "min": 1,
                "max": 79
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1969,
              "level": {
                "min": 80,
                "max": 80
              },
              "required_access": [
                "GuildWars2"
              ]
            },
            {
              "id": 2957,
              "level": {
                "min": 80,
                "max": 80
              },
              "required_access": [
    [...]
