---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/achievements/daily/tomorrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "pve": [
            {
              "id": 1970,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1938,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1951,
              "level": {
                "min": 11,
                "max": 69
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1942,
              "level": {
                "min": 70,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1902,
              "level": {
                "min": 31,
                "max": 49
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1886,
              "level": {
                "min": 50,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "pvp": [
            {
              "id": 1861,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2816,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2108,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2640,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "wvw": [
            {
              "id": 1852,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1848,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1850,
              "level": {
                "min": 11,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 1844,
              "level": {
                "min": 31,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ],
          "special": [
            {
              "id": 2079,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2081,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2080,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            },
            {
              "id": 2082,
              "level": {
                "min": 1,
                "max": 80
              },
              "required_access": [
                "GuildWars2",
                "HeartOfThorns"
              ]
            }
          ]
        }
  recorded_at: Wed, 25 Jan 2017 01:21:02 GMT
recorded_with: VCR 3.0.3
