---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/professions/Mesmer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "Mesmer",
          "name": "Mesmer",
          "icon": "https://render.guildwars2.com/file/E43730AD49A903C3A1B4F27E41DE04EA51A775EC/156636.png",
          "icon_big": "https://render.guildwars2.com/file/AF61567E16A83F145D6FB35D63BF01074A3A5AB9/156635.png",
          "specializations": [
            10,
            1,
            45,
            23,
            24,
            40
          ],
          "weapons": {
            "Focus": {
              "skills": [
                {
                  "id": 10186,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10282,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Greatsword": {
              "skills": [
                {
                  "id": 10219,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10333,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10218,
                  "slot": "Weapon_3"
                },
                {
                  "id": 10221,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10220,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Spear": {
              "skills": [
                {
                  "id": 10315,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10318,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10251,
                  "slot": "Weapon_3"
                },
                {
                  "id": 10325,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10255,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Pistol": {
              "skills": [
                {
                  "id": 10175,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10229,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Scepter": {
              "skills": [
                {
                  "id": 10289,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10276,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10168,
                  "slot": "Weapon_3"
                }
              ]
            },
            "Shield": {
              "specialization": 40,
              "skills": [
                {
                  "id": 30769,
                  "slot": "Weapon_4"
                },
                {
                  "id": 30643,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Staff": {
              "skills": [
                {
                  "id": 10273,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10310,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10216,
                  "slot": "Weapon_3"
                },
                {
                  "id": 10331,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10169,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Sword": {
              "skills": [
                {
                  "id": 10334,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10173,
                  "slot": "Weapon_3"
                },
                {
                  "id": 10170,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10280,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10174,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Torch": {
              "skills": [
                {
                  "id": 10285,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10189,
                  "slot": "Weapon_5"
                }
              ]
            },
            "Trident": {
              "skills": [
                {
                  "id": 10258,
                  "slot": "Weapon_1"
                },
                {
                  "id": 10259,
                  "slot": "Weapon_2"
                },
                {
                  "id": 10327,
                  "slot": "Weapon_3"
                },
                {
                  "id": 10328,
                  "slot": "Weapon_4"
                },
                {
                  "id": 10260,
                  "slot": "Weapon_5"
                }
              ]
            }
          },
          "training": [
            {
              "id": 98,
              "category": "Skills",
              "name": "Signet Training",
              "track": [
                {
                  "cost": 2,
                  "type": "Skill",
                  "skill_id": 21750
                },
                {
                  "cost": 4,
                  "type": "Skill",
                  "skill_id": 10236
                },
                {
                  "cost": 7,
                  "type": "Skill",
                  "skill_id": 10232
                },
                {
                  "cost": 11,
                  "type": "Skill",
                  "skill_id": 10247
                },
                {
                  "cost": 15,
              [...]
